.enviar-button{
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}

.jobforms{
    /* height: 100vh; */
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 221);
}


.col-md-12
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h2{
        font-family: Roboto Mono, sans-serif;
    }
    form{
        /* display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px; */
        width: 1000px;
        text-align: center;
    }
}

/* .form-group
{
    width: 400px;
} */

.enviar-button:hover{
    background: #10449a;
}

option[value="none"]
{
    display: none;
}

#other-contract-type
{
    display: none;
    margin-top: 10px;
}

input[type="radio"]
{
    width: 30px;
    height: 15px;
}

#enviar
{
    height: 60px;
    width: 300px;
    background-color:  #d57a1f;
    transition: .2s;
    font-size: 20px;
}

#enviar:hover
{
    background-color:  #c2680e;
}